a.fa {
  text-decoration: none;
  font-size: 20px;
}

.fa {
  text-align: center;
  text-decoration: none;
  color:black;
  margin-top: 0px;
  padding-top: 15px;
  padding-bottom: 14px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: black;
}

/* Add a hover effect if you want */

.fa:hover {
  //background: black;
  color: red;
}
